<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="element">
      <div class="view-wrapper">
        <div class="view">
          <img class="image" src="img/image.png" />
          <div class="div">
            <div class="view-2">
              <div class="text-wrapper">孩子已完成第1节课程</div>
              <div class="text-wrapper-2">快来成长计划看看孩子的进步吧～</div>
            </div>
            <div class="view-3">
              <div class="div-wrapper">
                <div class="text-wrapper-3">去看看</div>
              </div>
              <div class="text-wrapper-4">下次再说</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
