.element {
  background-color: #4d4d4d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .view-wrapper {
  background-color: #4d4d4d;
  overflow: hidden;
  width: 375px;
  height: 812px;
}

.element .view {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 372px;
  border-radius: 32px 32px 0px 0px;
}

.element .image {
  position: relative;
  width: 375px;
  height: 244px;
}

.element .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: var(--) 0px var(--) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.element .view-2 {
  display: flex;
  flex-direction: column;
  width: 314px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--t20m-font-family);
  font-weight: var(--t20m-font-weight);
  color: var(--6);
  font-size: var(--t20m-font-size);
  text-align: center;
  letter-spacing: var(--t20m-letter-spacing);
  line-height: var(--t20m-line-height);
  font-style: var(--t20m-font-style);
}

.element .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "PingFang SC-Regular", Helvetica;
  font-weight: 400;
  color: var(--5);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
}

.element .view-3 {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.element .div-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 46px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #fcda00;
  border-radius: 30px;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 8px;
  left: 113px;
  font-family: var(--t18m-font-family);
  font-weight: var(--t18m-font-weight);
  color: #544300;
  font-size: var(--t18m-font-size);
  text-align: center;
  letter-spacing: var(--t18m-letter-spacing);
  line-height: var(--t18m-line-height);
  white-space: nowrap;
  font-style: var(--t18m-font-style);
}

.element .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "PingFang SC-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
}
