.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.zyname a {
    margin: 0.25rem;
    vertical-align: middle;
    /* 居中对齐 */
}

.button_line {
    display: flex;
    width: 5.8333rem;
    height: 2.6667rem;
    padding: 0rem 0.6667rem;
    justify-content: center;
    align-items: center;
    gap: 0.1667rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 0.0833rem solid #E0DFDF;
    background: #FFF;
}

.colorInput {
    display: flex;
    width: 4.2rem;
    height: 2.6667rem;
    padding: 0rem 0.6667rem;
    justify-content: center;
    align-items: center;
    gap: 0.1667rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 0.0833rem solid #E0DFDF;
    background: #FFF;
}