html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
}
* {
  box-sizing: border-box;
}
:root {
  --phone-height: calc(var(--phone-width) * (812 / 375));
  --pad-height: calc(var(--pad-width) * (744 / 1133));
}
@media   (max-width: 1200px) {
  :root {
    --phone-width: 170px;
    --pad-width: 550px;
    --phone-scale: calc(170 / 375);
    --pad-scale: calc(550 / 1133);
  }
}
@media  (min-width: 1201px) and (max-width: 1300px) {
  :root {
    --phone-width: 170px;
    --pad-width: 550px;
    --phone-scale: calc(170 / 375);
    --pad-scale: calc(550 / 1133);
  }
}

@media (min-width: 1301px) and (max-width: 1600px) {
  :root {
    --phone-width: 185px;
    --pad-width: 610px;
    --phone-scale: calc(185 / 375);
    --pad-scale: calc(610 / 1133);
  }
}
@media (min-width: 1601px) and (max-width: 1900px) {
  :root {
    --phone-width: 260px;
    --pad-width: 850px;
    --phone-scale: calc(260 / 375);
    --pad-scale: calc(850 / 1133);
  }
}
@media (min-width: 1901px) {
  :root {
    --phone-width: 330px;
    --pad-width: 1100px;
    --phone-scale: calc(330 / 375);
    --pad-scale: calc(1100 / 1133);
  }
}
