html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
}
* {
  box-sizing: border-box;
}
:root {
  --phone-height: calc(var(--phone-width) * (812 / 375));
  --pad-height: calc(var(--pad-width) * (744 / 1133));
}

@media (max-width: 1300px) {
  :root {
    --phone-width: 193px;
    --pad-width: 636px;
    --phone-scale: calc(193 / 375);
    --pad-scale: calc(636 / 1133);
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  :root {
    --phone-width: 227px;
    --pad-width: 749px;
    --phone-scale: calc(227 / 375);
    --pad-scale: calc(749 / 1133);
  }
}
@media (min-width: 1601px) and (max-width: 1900px) {
  :root {
    --phone-width: 295px;
    --pad-width: 973px;
    --phone-scale: calc(295 / 375);
    --pad-scale: calc(973 / 1133);
  }
}
@media (min-width: 1901px) {
  :root {
    --phone-width: 295px;
    --pad-width: 973px;
    --phone-scale: calc(295 / 375);
    --pad-scale: calc(973 / 1133);
  }
}
