.phone {
  width: 23.4375em;
  height: 50.75em;
  margin-top: 1em;
  margin: 1.875em 0;
  background-color: #fff;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: 1.25em;
  box-shadow: 0em 0.25em 3.125em 0em rgba(0, 0, 0, 0.08);
}

.phone::-webkit-scrollbar {
  display: none;
  /* 隐藏滚动条 */
}
