.resource-list {
  display: flex;
  width: 16em;
  height: 100%;
  padding: 0 1em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-shrink: 0;
  align-self: stretch;
  border-top: 0.0625em solid #e0dfdf;
  border-left: 0.0625em solid #e0dfdf;
  background-color: #fff;
  z-index: 2;
}
.menu {
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
  height: 3.75em;
  border-bottom: 0.0625em solid #f5f4f4;
}
.resources {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  width: 100%;
}

.zyname {
  width: 100%;
}
.zyname a {
  margin: 0.25em;
  vertical-align: middle;
  /* 居中对齐 */
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
